<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Lunches Delivery Company</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Hello. It's about page!
    </p>
  </body>
</html>
