<% if logged_in? %>

<div class="row" id="trow">

<% else %>

<div class="center jumbotron">
  <h1>Welcome aboard</h1>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("LDC.jpg", alt: "LDC logo") %>
<% end %>
