<% provide(:title, 'Your cart') %>
      <% if @items.length == 0 %>
			<%= render 'cart/empty_cart' %>
			<% else %>

<div id="cart_stor">
<table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Qty</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td></td>
          <td></td>
          <td><%= item[1] %></td>
        </tr>
        <% end %>
        <!-- Высчитывается итоговая стоимость заказа и кол-во штук  -->

        <tr>
          <td></td>
          <td>Total: Rub</td>
          <td>          </td>
        </tr>
      </tbody>
    </table>


    <form action="/place_order" method="POST" role="form">
      <!--Скрытая формочка, в которую добавялется весь сделанный заказ  -->
      <input name ="order[orders_input]" type ="hidden" value ="<%= @orders_input %>" />

      <div class="form-group">
        <label>Name: </label>
        <input name="order[name]" type="text" class="form-control" placeholder="Your name" </div>

      <div class="form-group">
        <label>Phone: </label>
        <input name="order[phone]" type="text" class="form-control" placeholder="Your phone" ></div>

      <div class="form-group">
        <label> Delivery address: </label>
        <textarea name="order[address]" type="text" class="form-control" placeholder="Your address"></textarea>
      </div>
      <button type = "submit" class = "btn btn-success">Check</button> <button class = "btn btn-danger" onclick="cancel_order()">Clear cart</button>
      </form>
</div>
<% end %>
<script>
  function add_to_cart(id) {
    var key = 'product_' + id;
    var x = window.localStorage.getItem(key);
    x = 1;
    window.localStorage.setItem(key, x);
    update_orders_input();
    update_orders_button();
  }

  function update_orders_input() {
    var orders = cart_get_orders ();
    $('#orders_input').val(orders);
  }

  function update_orders_button() {
    var text = 'Cart (' + cart_get_number_of_items() + ')';
    $('#orders_button').val(text);

  }

  function cart_get_number_of_items (){
    var cnt = 0;
    for(var i = 0; i < window.localStorage.length; i++)
    {
      var key = window.localStorage.key(i);
      var value = window.localStorage.getItem(key);
        if(key.indexOf('product_') == 0){
          cnt = cnt + value * 1;
        }
        return cnt;
      }
    }

    function cart_get_orders (){
      var orders = '';
      for(var i = 0; i < window.localStorage.length; i++)
      {
        var key = window.localStorage.key(i); // получаем ключ
        var value = window.localStorage.getItem(key); //получаем значение

        if(key.indexOf('product_') == 0){
          orders = orders + key + " = " + value + ", ";
        }
      }
      return orders;
    }

    function cancel_order() {
      window.localStorage.clear();
      update_orders_input();
      update_orders_button();

      $('#cart_stor').text('Your cart is empty!');

      return false;
    }
</script>
