<% provide(:title, 'All orders') %>


<!--Выводим в таблице заказы по наименованию и колличеству  -->
<div id = "cart_stor">
<table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Ordered</th>
          <th>Date</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!-- Высчитывается итоговая стоимость заказа и кол-во штук  -->

        <tr>
          <td></td>
          <td>Total: Rub</td>
          <td>          </td>
        </tr>
      </tbody>
    </table>
</div>
