<% provide(:title, 'New product') %>
<% provide(:button_text, 'Create product') %>
<h1>Create product</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'product_form' %>
  </div>
</div>
